.product-list {

    &__scroll-container {
        margin-top: 2rem;
         max-height: 28rem;
         overflow: auto;
         position: relative;
    }

    &__filters {
        padding: 0 1rem 1rem;
    }
}
